/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}
/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}
/* STYLES */
/* Write your CSS below */

.header {
  background-image: url(../images/apple-pie.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  /* position: relative; */
  width: full;
  margin-bottom: 100px;
}
.header-text {
  color: white;
  font-size: 40px;
  text-align: center;
  /* position: absolute;
top: 50%;
left: 50%; */
  padding-top: 400px;
}

.sectiontwo-paragraph {
  font-size: 20px;

  font-weight: lighter !important;
  text-align: center;
}

.parent-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
hr {
  width: 60%;
  margin: 100px auto;
}
.section-three {
  margin-left: 300px;
}
.section-three-heading {
  font-size: 40px;
  margin-bottom: 20px;
}
.section-three-list li {
  font-size: 20px;
  font-weight: 100 !important;
  list-style: none;
}
.section-three-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px;
}

.section-four {
  margin-left: 300px;
  width: 70%;
}
.section-four-heading {
  font-size: 40px;
  margin-bottom: 20px;
}
.section-four-list li {
  font-size: 20px;
  font-weight: 100 !important;
  counter-increment: listcounter;
  list-style: none;
}

ol > li::before {
  /*3. Set the new style for the list markers */
  content: counter(listcounter) ")";
}
